[user]
	email = 56745535+Subjective@users.noreply.github.com
	name = Joshua Yin
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
	pager = delta
	excludesfile = /Users/joshua/.gitignore_global
[http]
	postBuffer = 1048576000
[diff]
	algorithm = patience
	compactionHeuristic = true
	tool = nvimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
  side-by-side = true
  features = decorations
  navigate = true
  whitespace-error-style = 22 reverse
  syntax-theme = Catppuccin-mocha
[delta "decorations"]
	file-style = bold white ul
	file-decoration-style = none
[mergetool "nvimdiff4"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
