[user]
	email = 56745535+Subjective@users.noreply.github.com
	name = Joshua Yin
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[http]
	postBuffer = 1048576000
[diff]
	algorithm = patience
	compactionHeuristic = true
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
